<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    
    <context:annotation-config></context:annotation-config>
   
    <bean name="employee" class="com.bharath.spring.innerbean.Employee" p:id="123">
    <property name="address">
    <bean class ="com.bharath.spring.innerbean.Address" p:hno="102" p:street="Pisoli" p:city="Pune"></bean>
    </property>
    </bean>
       
   

</beans>